@import 'tailwindcss';

@theme default {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-accent: var(--accent);

	--color-gray-100: var(--gray-100);
	--color-gray-200: var(--gray-200);

	--color-chip-1: var(--chip-1);
	--color-chip-2: var(--chip-2);

	--color-primary: var(--text-primary);
	--color-secondary: var(--text-secondary);
	--color-button: var(--text-button);

	--color-border: var(--border);
}

:root {
	--background: #ffffff;
	--foreground: #f0f2f4;
	--accent: #ff6036;

	--gray-100: #f0f2f4;
	--gray-200: #7c8591;

	--chip-1: #e010cd;
	--chip-2: #fd267a;

	--text-primary: #21262e;
	--text-secondary: #505965;

	--text-button: #ffffff;

	--border: #b9bfc8;
}

:root[data-theme='dark'] {
	--background: #000000;
	--foreground: #111418;

	--text-primary: #e9ebee;
	--text-secondary: #939ba7;
	--text-button: #ffffff;

	--gray-100: #7c8591;
	--gray-200: #656e7b;

	--border: #3c444f;
}

body {
	background-color: var(--background);
	color: var(--text-primary);
	overflow: hidden;
}

* {
	user-select: none;
	-webkit-user-drag: none;
}

.no-scrollbar {
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
